body {
    background-color: #d1edf2;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
   display: flex;
   flex-wrap: wrap;
}
.card {
    width: 27vw;
    height: 40vh;
    background-color: antiquewhite;
    border-radius: 20px;
    border: aquamarine;
    margin: 2% 20%;
    text-align: center;
}
.img {
    width: 100%;
}